<mat-accordion>
  <mat-expansion-panel
    *ngFor="let item of stories"
    (opened)="getComments(item.kids)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ item?.title }} </mat-panel-title>
      <mat-panel-description>
        <span> By: {{ item.by }} </span>
        <span>
          Time: {{ item.time * 1000 | date : "YYYY MMM dd - hh:mm a" }}
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <section class="link__section">
      Link: <a [href]="item.url" target="_blank"> {{ item.url }}</a>
    </section>
    <section class="comments__section">
      <h3>Comments:</h3>
      <div *ngFor="let comment of comments">
        <span>{{ comment.by }}:</span>
        <div [innerHTML]="comment.text"></div>
      </div>
    </section>
  </mat-expansion-panel>
</mat-accordion>
