:host {
  display: block;
  margin: 40px;

  mat-panel-description {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    font-size: 14px;
  }

  .link__section {
    padding-bottom: 10px;
  }

  .comments__section {
    h3,
    span {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 768px) {
  :host {
    margin: 10px;

    .mat-expansion-panel-header {
      padding: 10px;
      height: max-content;
    }
    mat-panel-description {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      font-size: 12px;
    }

    .link__section {
      a {
        overflow-wrap: break-word;
      }
    }
  }
}
